@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

@import "tailwindcss";



body{
  box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

.main {
    &::-webkit-scrollbar {
    display: none;
  }
}



.grid-bg {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);
  background-size:  60px 60px ;
  pointer-events: none;
}

/* index.css mein add karo */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* thumb */
::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 10px;
}

/* thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: #777171;
}